@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');


// General text
body, a {
    line-height: 1.7;
    color: $color-text;
    font-size: $fs-small;
    font-family: $ff-text;
    font-weight: $fw-small;
}

// Titles
.big-title {
    font-size: $fs-brand;
    font-family: $ff-title;
}

.title {
    font-size: $fs-title;
}

h2 {
    font-family: $ff-text;
    padding: $P-Medium1;
    font-weight: $fw-bolder;
}

h3,
h4 {
    font-family: $ff-text;
    font-weight: $fw-bold;
}

.footer__title {
    font-family: $ff-title;
    font-weight: 400;
}