//This file you will create your mixins inside of the project// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablette 
900 - 1200px:   Tablette desktop
[1200 - 1800] est le style normal  application
1400px + :       desktop

$breakpoint  à choisir:
- phone
- tab-port
- desktop
- big-

ORDRE: Base + typography > general layout + grid > page layout > components
1em = 16px
*/


@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexMid1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexRow {
    display: flex;
    justify-content: space-between;
    
}

@mixin flexRow2 {
    display: flex;
    
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin MenuFooter {
    background-color: $bgFooter;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.1rem;
    padding: 22px 25px;
}

@mixin MenuFooter1 {
    background-color: $bgFooter;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    align-content: center;
    padding: 30px 25px;
    isolation: isolate;
}



@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };   //600px
    }
    @if $breakpoint == phone2 {
        @media only screen and (max-width: 47.5rem) { @content };   //750px
    }
    @if $breakpoint == tab-port {
        @media only screen and (min-width: 56.25em) { @content };  //900px
    }
    @if $breakpoint == tab {
        @media only screen and (min-width: 66.25em) { @content };  //1050px
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
}